################################################################################
# Ignore all files and folders in this directory, other than...
# - This file (.gitignore)
# - This directory's README file (README.md)
# - Any permission sets deemed as "core"
#
# TODO: Need to validate the need here.  
#
# TODO: Need to update the text below to be specific to page layouts.
#
# TODO: Should permission sets EVER appear outside of a feature module? YES.
################################################################################

# Ignore everything...
*

# Except the following files...
!.gitignore
!README.md

# And each permission set listed below...
# (ie. your whitelisted permission sets)
# EXAMPLE: !Package_Admin.permissionset-meta.xml
