################################################################################
# ALLOW all files and folders in this directory, other than...
# - local-config.sh
# - custom_*
#
# This file (local-config.sh) is used by the shell scripts found in ./dev-tools
# to provide customized settings for each developer working on an SFDX-Falcon
# based project.  Because these variables are customized per developer, this 
# local-config file should NOT be tracked in source control.
#
# The same holds for any custom libraries that an indivisual developer would 
# like to make.  If you want to build something that wont' be tracked, just
# prepend the filename with "custom_" and it will be ignored.
################################################################################

#Ignore local-config.sh
local-config.sh

# Ignore any files or folders that start with "custom_" (case insensitive)
custom_*