################################################################################
# Ignore all files and folders in this directory, other than
# - This file (.gitignore)
# - This directory's README file (README.md)
#
# IMPORTANT: All other files should be ignored by Git.  This means that any
# classes that ends up in this directory MUST be moved into domain, service,
# utility, test, or another module within this Package Directory (ie. into
# a sibling directory of main/default)
################################################################################

# Ignore everything...
*

# Except the following...
!.gitignore
!README.md
