################################################################################
# Ignore all files and folders in this directory, other than
# - This file (.gitignore)
# - This directory's README file (README.md)
#
# IMPORTANT: All other files should be ignored by Git.  This means that any
# Apex class that ends up in this directory MUST be moved into the domain, 
# service, utility, or test directories. If the class is related to specific
# functionality, it should be added to that module within this package
# directory (ie. into a sibling directory of main/default)
################################################################################

# Ignore everything...
*

# Except the following...
!.gitignore
!README.md
