################################################################################
# Ignore all files and folders in this directory, other than...
# - This file (.gitignore)
# - This directory's README file (README.md)
# - All .json files
#
# Ignoring any config files that are not .json in order to standardize on using
# JSON for all config related activity.  To start, that ususally just means that
# scratch-def.json config files are kept here, but as your SFDX project gets 
# more complex you'll likely have need of additional config files to direct your
# own custom tooling.
################################################################################

# Ignore everything in this directory...
/*

# Except the following files and file types...
!.gitignore
!README.md
!*.json

# And each ????? listed below...
# (ie. your whitelisted files)
# EXAMPLE: !my-xml-config.xml
